:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found {
  &__image {
    height: 35%;
  }
  &__menu {
    padding-top: 3rem;
    height: 25%;
  }
}