@import '/src/assets/scss/mixins.scss';
@import '/src/assets/scss/colors.scss';
@import '/src/assets/scss/adaptive.scss';

:host {
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 4rem;
  flex-direction: column;
  & * {
    font-size: 6rem;
  }
}

.selected {
  background-color: $green-5;
}

.explore {
  &__filters {
    @include flex-container(row, center, flex-start, wrap);
    flex: 0 0;
    box-sizing: border-box;
    padding-bottom: 4rem;
    gap: 2rem;
    width: 100%;
    & input, & button {
      font-size: 5rem;
      @include xs() {
        font-size: 7rem;
      }
      @include gt-xlg() {
        font-size: 7rem;
      }
    }
  }
  &__filters-search {
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 80rem;
    box-sizing: border-box;
    @include xs() {
      max-width: 100%;
    }
  }
  &__list {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    @include xs() {
      gap: 2rem;
    }
  }
  &__item {
    @include xs() {
      font-size: 8rem;
    }
    @include gt-xlg() {
      font-size: 9rem;
    }
    @include bold();
    cursor: pointer;
    user-select: none;
  }
  &__item::after {
    position: relative;
    content: ' 🠖';
    font-size: 75%;
    visibility: hidden;
  }
  &__item:hover {
    color: inherit;
  }
  &__item:hover::after {
    visibility: visible;
  }
}
