$main-1: #f5f7f6;
$main-2: #d6dddb;
$main-3: #b3bfbc;
$main-4: #68827a;
$main-5: #426057;
$main-6: #21453a;
$main-7: #0f362a;
$main-8: #00291d;
$main-9: #002017;

$blue-1: #dceeff;
$blue-2: #9dd0ff;
$blue-3: #6cb8ff;
$blue-4: #198bf5;
$blue-5: #0070d8;
$blue-6: #0065c3;

$green-1: #c6f7e7;
$green-2: #7ef1cb;
$green-3: #12e9a1;
$green-4: #08d892;
$green-5: #08b87d;
$green-6: #00a46d;

$red-1: #fde1d9;
$red-2: #fab19a;
$red-3: #f89678;
$red-4: #ed6439;
$red-5: #f05625;
$red-6: #e14c1d;

$yellow-1: #fff2c3;
$yellow-2: #ffe589;
$yellow-3: #ffe072;
$yellow-4: #ffdb5b;
$yellow-5: #ffd333;
$yellow-6: #fdcc13;
