@use "sass:map";
@import "./mixins.scss";
@import "./colors.scss";

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 4px;
  outline: none !important;
  @include regular;
}

* {
  font-size: 4rem;
  color: $main-9;
}

*:disabled {
  color: $main-3;
}