<div class="components__thin-block" [style.backgroundColor]="color.blue">
  <div class="components__block-header">Checkboxes</div>
  <ng-container *ngFor="let checkboxItem of inputsArray">
    <div>
      <input type="checkbox">text
    </div>
  </ng-container>
</div>
<div class="components__thin-block" [style.backgroundColor]="color.red">
  <div class="components__block-header">Select</div>
  <select>
    <ng-container *ngFor="let colorItem of colorsArray">
      <option>{{colorItem}}</option>
    </ng-container>
  </select>
</div>
<div class="components__thin-block" [style.backgroundColor]="color.green">
  <div class="components__block-header">Radio</div>
  <ng-container *ngFor="let checkboxItem of inputsArray; let index = index">
    <div>
      <input type="radio" [formControl]="radioControl" [value]="index">{{index}}
    </div>
  </ng-container>
</div>
<div class="components__thin-block" [style.backgroundColor]="color.light">
  <div class="components__block-header">Buttons</div>
  <ng-container *ngFor="let colorItem of colorsArray">
    <div>
      <button class="components__item" [style.backgroundColor]="colorItem">Button</button>
    </div>
  </ng-container>
</div>
<div class="components__thin-block" [style.backgroundColor]="color.yellow">
  <div class="components__block-header">Icons</div>
  <div class="components__item">
    <mat-icon>menu</mat-icon>
  </div>
</div>
<div class="components__thin-block">
  <div class="components__block-header">Icon-buttons</div>
  <ng-container *ngFor="let colorItem of colorsArray">
    <div class="components__item">
      <app-icon-button icon="menu" size="s" [color]="colorItem"></app-icon-button>
    </div>
    <div class="components__item">
      <app-icon-button icon="menu" size="m" [color]="colorItem"></app-icon-button>
    </div>
    <div class="components__item">
      <app-icon-button icon="menu" size="l" [color]="colorItem"></app-icon-button>
    </div>
  </ng-container>
</div>