:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.random-value-page {
  &__content {
    background-color: white;
    padding: 1rem;
    display: flex;
    width: fit-content;
    gap: 15px;
    border-radius: 3px;
  }
  &__add-list,
  &__generator {
    display: flex;
    flex-direction: column;
  }
  &__add-list-input {
    display: flex;
  }
}
