@import '/src/assets/scss/adaptive.scss';

:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.random-password-page {
  &__content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 50rem;
    gap: 4rem;
  }
  &__item {
    font-size: 5rem;
    @include xs() {
      font-size: 7rem;
    }
    @include gt-xlg() {
      font-size: 8rem;
    }
  }
}