<div class="hot-cold__content">
  <button (click)="start()">new game</button>
  <ng-container *ngIf="cellsList$ | async">
    <div class="hot-cold__field">
      <ng-container *ngFor="let cell of cellsList$ | async; let index = index">
        <div class="hot-cold__cell" [class.cell_opened]="openedSet.has(index)"
          [class.cell_target]="openedSet.has(index) && cell"
          [class.cell_endgame]="(isStatusSuccess$ | async) || (openedSet.size === 0)" (click)="open(index)">
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="cellsList$ | async">
    <div class="hot-cold__text">
      {{status$ | async | default: 'Нажмите на клетку'}} (clicks: {{message$ | async | default: 0}})
    </div>
  </ng-container>
</div>