<div class="hot-cold__content">
  <div class="hot-cold__controls" [class.controls_between]="cellsList$ | async">
    <button class="hot-cold__start-button" (click)="start()">new game</button>
    <ng-container *ngIf="cellsList$ | async">
      <div class="hot-cold__text">{{status$ | async | lowercase}}</div>
      <div class="hot-cold__text">{{message$ | async | default: 'нажмите на клетку'}}</div>
    </ng-container>
  </div>
  <ng-container *ngIf="cellsList$ | async">
    <div class="hot-cold__field">
      <ng-container *ngFor="let cell of cellsList$ | async; let index = index">
        <div class="hot-cold__cell" 
          [class.cell_opened]="openedSet.has(index)"
          [class.cell_target]="openedSet.has(index) && cell"
          [class.cell_endgame]="(isStatusSuccess$ | async) || (openedSet.size === 0)"
          (click)="open(index)">
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>