@import '/src/assets/scss/mixins.scss';
@import '/src/assets/scss/adaptive.scss';
@import '/src/assets/scss/colors.scss';

:host {
  height: 100%;
  width: 100%;
  @include flex-container(column, center, center);
  * {
    font-size: 5rem;
  }
  min-width: 90rem;
}

.hot-cold {
  &__content {
    border-radius: 1rem;
    box-sizing: border-box;
    @include flex-container(column, center, center);
    gap: 2rem;
    padding: 2rem;
  }

  &__text {
    box-sizing: border-box;
    padding: 1rem;
  }

  &__field {
    height: 80rem;
    width: 80rem;
    @include gt-md() {
      height: 110rem;
      width: 110rem;
    }
    @include gt-xlg() {
      height: 130rem;
      width: 130rem;
    }
    @include flex-container(column, center, center, wrap);
  }
  &__cell {
    cursor: pointer;
    height: 20%;
    width: 20%;
    transition: all 500ms;
    box-shadow: 0 0 1px 0 $dark-4;
    transition-timing-function: ease;
    background-color: $blue-1;
    transform: rotateX( 0 );
  }
}

.cell {
  &_opened {
    background-color: $red-1;
    transform: rotateX( 180deg );
  }
  &_target {
    background-color: $green-4;
    transform: rotateX( 180deg );
  }
  &_endgame {
    transition: none;
    transform: none;
  }
}
