@import '/src/assets/scss/mixins.scss';
@import '/src/assets/scss/adaptive.scss';

:host {
  width: 100%;
  height: 100%;
}

.root {
  @include flex-container(row, center, center, nowrap);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 3rem;
  gap: 3rem;
  background-color: $main-2;
  @include xs() {
    @include flex-container(column, center, center, nowrap);
  }
  &_dark-theme {
    background-color: $main-9;
  }
  &__page {
    flex: 1 1;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 1rem 1rem rgba($color: $main-4, $alpha: 0.2);
    border-radius: 2px;
    border-color: transparent;
    background-color: $main-1;
    overflow: auto;
    &_dark-theme {
      background-color: $main-3;
    }
  }
  & app-menu {
    height: 100%;
    @include xs() {
      height: fit-content;
      width: 100%;
    }
  }
}
