<div class="menu__content" [style.backgroundColor]="bgColor$ | async">
  <div class="menu__column" *ngFor="let columnItem of (appSectionsList$ | async)">
    <h3 [style.color]="columnItem.color">{{columnItem.name}}</h3>
    <div class="menu__list" [style.color]="columnItem.color">
      <a class="menu__item" [style.color]="textColor$ | async" href="{{columnItem.key}}/{{rowItem.key}}" (click)="$event.stopPropagation()"
        *ngFor="let rowItem of columnItem.children">
        {{rowItem.value}}
      </a>
    </div>
  </div>
</div>