@import "/src/assets/scss/mixins.scss";
@import "/src/assets/scss/colors.scss";
@import "/src/assets/scss/adaptive.scss";

.menu {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  @include flex-container(column, center, space-between, nowrap);
  padding: 1rem 0;
  @include xs() {
    @include flex-container(row, center, space-between, nowrap);
    padding: 0 1rem;
  }
  &__item {
    height: 10rem;
    width: 10rem;
    @include gt-md() {
      height: 12rem;
      width: 12rem;
    }
    @include gt-xlg() {
      height: 14rem;
      width: 14rem;
    }
    user-select: none;
    cursor: pointer;
    color: $main-4;
  }
}
